@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Quicksand:wght@300;400;500&display=swap');

$openSans: 'Open Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;

$grey: #ced4da;
$lightBlue: #cfe2f3;
$darkBlue: #1d3557;

$primary: #0f171e;
$secondary: #1a242f;

$black: #000000;
$white: #ffffff;
$richBlack: #191919;
$offWhite: #f8f8ff;
$devil: #860111;
