@import './variables';
@import './breakpoints';
@import './components/header';
@import './components/footer';
@import './components/home';
@import './components/movie-card';
@import './components/movie-detail';
@import './components/movie-listing';
@import './components/page-not-found';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	width: 100vw;
	height: 100vh;
	background-color: $richBlack;
	font-family: $openSans;
	color: $offWhite;
}
